<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="UserDto" type="org.most.user.model.UserDto"/> <!--긴 파일 명을 짧게 줄인다  -->
		<typeAlias alias="OstDto" type="org.most.ost.model.OstDto"/>
		<typeAlias alias="CommentDto" type="org.most.comment.model.CommentDto"/>
		<typeAlias alias="likedOstDto" type="org.most.likedOST.model.LikedOstDto"/>
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://localhost:3306/MOST"/>
        <property name="username" value="root"/>
        <property name="password" value="12345"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="org/most/mybatis/user.xml"/>
    <mapper resource="org/most/mybatis/ost.xml"/>
    <mapper resource="org/most/mybatis/comment.xml"/>
    <mapper resource="org/most/mybatis/likedOst.xml"/>
  </mappers>
</configuration>